[Unit]
Description=Command and Control REST Daemon

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/bin/command-control-rest-daemon -f /etc/command-control-rest-daemon/conf.json

[Install]
WantedBy=multi-user.target
